.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 8px;
}

.sidebar {
  grid-area: sidebar;
  outline-style: outset;
  outline-color: rgb(255, 175, 217);
  outline-width: 3px;
  background-color: rgba(247, 216, 232, 0.75);
}
.body {
  grid-area: body;
  outline-style: outset;
  outline-color: rgb(255, 175, 217);
  outline-width: 3px;
  background-color: rgba(247, 216, 232, 0.75);
}

/* .rotating-image {
  width: 128;
  height: 128;
  margin: 15px 15px 15px 15px;
  animation: rotate 15s linear infinite;
} */

.swinging-image {
  width: 128;
  height: 128;
  margin: 15px 15px 15px 15px;
  animation: swing 1.5s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-image: url(./assets/images/bg.png);
}

div {
  font-family: Nunito;
}
.steamgames-iframe {
  width: 99%;
  border-style: inset;
  border-color: rgb(255, 175, 217);
  border-width: 3px;
    border-radius: 5px;

}
.riitag {
    border-style: inset;
  border-color: rgb(255, 175, 217);
  border-width: 3px;
    border-radius: 5px;
}
.messenger {
  border-style: inset;
  border-color: rgb(255, 175, 217);
  background-color: rgb(255, 255, 255);
  margin: 5px 5px 5px 5px;
  border-width: 3px;
    border-radius: 5px;
}

.pikcursor {
  cursor: url(assets/images/pikmin.cur), auto;
}

img {
  border-radius: 5px;
}

@keyframes swing {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
@font-face {
  font-family: Nunito;
  src: url(assets/fonts/Nunito-Regular.woff2);
}
